<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<% @produtos.each do |produto| %>
	<div class="entry">
		<%= image_tag(produto.url_image) %>
		<h3><%= produto.titulo %></h3>
		<p><%= sanitize(produto.descricao) %></p>
	<div class="price_line">

		<span class="price"><%= sprintf("$ %0.02f", produto.preco) %></span>
		<!-- <span class="price"><%= number_to_currency(produto.preco) %></span> -->
	</div>
	</div>
<% end %>